.portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.portfolio__photo {
  position: absolute;
  margin: auto;
  position: absolute;
  top: 171px; left: 0px; right: 0px;
  width: max-content;
  padding-top: 189px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  background-color: var(--blue-color);
  z-index: 0;
}

.portfolio__title{
  display: flex;
}

.portfolio__title_right {
  margin-right: 0px;
  margin-left: auto;
  
}

.portfolio__title-right {
  margin-right: 0px;
  margin-left: 0px;
}

.portfolio__title-profession{
  width: 100%;
}

.portfolio__spblue{
  color: var(--blue-color);
}

.portfolio__block-red{
  background-color: var(--red-color);
  width: 12px;
  height: 410px;
}

.portfolio__title_text-cv{
margin-right: 0px;
margin-left: auto;


}