.app {
  background-color: rgba(192, 192, 192, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  --white-color: rgba(255, 255, 255, 1);
  --brown-color: rgba(74, 41, 48, 1);
  --blue-color: rgba(43, 28, 124, 1);
  --yellow-color: rgba(217, 240, 94, 1);
  --green-color: rgba(35, 59, 36, 1);
  --red-color: rgba(219, 58, 47, 1);
  --grey-color: rgba(192, 192, 192, 1);
  --darkyellow-color: rgba(217, 240, 94, 1);
}
